<mat-drawer-container autosize class="" style="height:500px">
  <mat-drawer #sidenav mode="side" opened="sideNavOpened" style="width:200px">
    <app-left-header fxFlex="40px" fxFill></app-left-header>
    <app-treeview fxFlex="calc(100% - 70px)" fxFill style="padding: 10px;" [mode]="mode" [item]="item" (onAction)="onNodeSelect($event)"></app-treeview>
    <app-left-footer fxFlex="30px" fxFill [mode]="mode" (onAction)="openTrash($event)"></app-left-footer>
  </mat-drawer>
  <section style="height:100%">
    <app-right-header [context]="sidenav" (onAction)="openSettings()" [sideNavOpened]="sideNavOpened">
    </app-right-header>
    <form [formGroup]="form">
      <quill-editor placeholder="" style="height:100%" (onEditorChanged)="onContentChanged($event)"
        formControlName="url">
      </quill-editor>
    </form>
  </section>
</mat-drawer-container>
