<div class="notepad-container" fxLayout="column">
  <app-main (action)="openSettings($event)" [activeBookmark]="activeBookmark" [inActiveBookmark]="inActiveBookmark"
    *ngIf="!isAppLoading">
  </app-main>
  <mat-spinner strokeWidth="2" *ngIf="isAppLoading" diameter="30"></mat-spinner>
</div>

<p-dialog header="Notepad Settings" [(visible)]="showSetting" [style]="{width: '40vw', height:'200px'}" position="top">
  <app-settings *ngIf="showSetting" [item]="settingBookmark"></app-settings>
  <ng-template pTemplate="footer">
    <p-button (click)="onSave()" label="Save" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
