@use '~@angular/material' as mat;
@import './styles/styles-theme.scss';
@include mat.core();
$notepad-primary: mat.define-palette(mat.$indigo-palette);
$notepad-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$notepad-warn: mat.define-palette(mat.$red-palette);
$notepad-theme: mat.define-light-theme(
  $notepad-primary,
  $notepad-accent,
  $notepad-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($notepad-theme);
@include material-custom-theme($notepad-theme);
@import './styles/module-overrides';
html,
body {
  min-height: 600px;
  width: 800px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
