@import "~@angular/material/theming";
@import './styles/styles-theme.scss';
@include mat-core();
$notepad-primary: mat-palette($mat-indigo);
$notepad-accent: mat-palette($mat-pink, A200, A100, A400);
$notepad-warn: mat-palette($mat-red);
$notepad-theme: mat-light-theme(
  $notepad-primary,
  $notepad-accent,
  $notepad-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($notepad-theme);
@include material-custom-theme($notepad-theme);
@import './styles/module-overrides';
html,
body {
  height: 400px;
  width: 800px;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
